.git
.gitignore
node_modules
__pycache__
*.pyc
.vscode
.vs
*.md
icons/
manifest.json
background.js
classifier.js
content.js
content_suspicious.js
popup.html
popup.js
popup.css
options.html
options.js
.github/
